<app-navbar></app-navbar>
<div class="container">
    <div class="header">
      <h1>BuildRush.in Leaderboard</h1>
    </div>
    <div class="toolbar">
      <button>Filter</button>
      <input type="text" placeholder="Search Bar">
    </div>
    <div class="list">
      <h2>List of rankers</h2>
      <!--  This is where the list of rankers would be dynamically populated -->
      <ul>
        <li *ngFor="let ranker of rankers"> {{ranker.name}} - {{ranker.score}}</li>
      </ul>
    </div>
  </div>