<!-- 
<div class="top-navbar">
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
      <a routerLink="/main" routerLinkActive="active">Main</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </div>
   -->


<div class="navbar">
    <div class="navbar-logo">
        <p class="logo"> BuildRush.in</p>
    </div>
    <div class="navbar-links">
        <a routerLink="/home" routerLinkActive="active" class="nav-item">Home</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-item">About</a>
        <a routerLink="/pricing" routerLinkActive="active" class="nav-item">Pricing</a>
        <a routerLink="/task" routerLinkActive="active" class="nav-item">Challenge</a>
        <a routerLink="/client" routerLinkActive="active" class="nav-item">Client</a>
    </div>
    <button routerLink="/login" routerLinkActive="active">
        Login
    </button>
</div>