

<div class="navbar">
    <div class="navbar-logo">
        <p class="logo"> BuildRush.in</p>
    </div>
    <div class="navbar-links">
        <a routerLink="/home" routerLinkActive="active" class="nav-item">Home</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-item">About</a>
        <a routerLink="/pricing" routerLinkActive="active" class="nav-item">Pricing</a>
        <a routerLink="/task" routerLinkActive="active" class="nav-item">Task</a>
        <a routerLink="/leaderboard" routerLinkActive="active" class="nav-item">Rush</a>
    </div>
    <button routerLink="/login" routerLinkActive="active">
        Login
    </button>
</div>