<!--  Developer Section  -->

<div class="developer-container">
    <!-- Developer 1 -->
    <div class="developer-card">
        <img src="assets/Dev_Photo/bhagya.png" alt="Developer 1">
        <h4>Bhagya N. Patel</h4>
        <p>Software Engineer</p>
        <h5>BE(CSE)</h5>
        <h5>I am a dedicated Computer Science Engineering student with strong expertise in programming languages
            such as
            Java and Python, as well as proficiency in React.js for web development.</h5>

        <!-- Social Links -->
        <div class="social-links">
            <a href="https://github.com/Bhagyapatel01" target="_blank">
                <img src="assets/social_media_icons/github.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/bhagyapatel/" target="_blank">
                <img src="assets/logo/LinkedIn.png" alt="LinkedIn">
            </a>
        </div>
    </div>

    <!-- Developer 2 -->
    <div class="developer-card">
        <img src="assets/Dev_Photo/harsh.png" alt="Developer 2">
        <h4>Harsh P. Patel</h4>
        <p>Full Stack & Flutter Developer</p>
        <h5>BE(IT)</h5>
        <h5>Aspiring developer Harsh, navigating the coding cosmos with Dart, Flutter, Python, C, and C++ – crafting
            a
            non-graduate saga of innovation and passion. 🚀✨</h5>

        <!-- Social Links -->
        <div class="social-links">
            <a href="https://github.com/harsh4114" target="_blank">
                <img src="assets/social_media_icons/github.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/harsh-kumar-20a0a5250/" target="_blank">
                <img src="assets/logo/LinkedIn.png" alt="LinkedIn">
            </a>
        </div>
    </div>
</div>