<!-- Footer  -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Product</h4>
            <ul>
                <li>Mobile Apps</li>
                <li>Web Apps</li>
                <li>Machine Learning Models</li>
                <li>AI Functionalities</li>
                <li>Specific Programming Functions</li>
                <li> <span class="pulse"></span><b>More products coming soon.</b>
                </li>

            </ul>

        </div>

        <div class="footer-column">
            <h4>Information</h4>
            <ul>
                <li><a href="https://buymeacoffee.com/harshkumar4114/" target="_blank">Blog</a></li>
                <li><a href="https://buymeacoffee.com/harshkumar4114/buildrush" target="_blank">Support</a></li>

            </ul>
        </div>
        <div class="footer-column">
            <h4>Tools Used</h4>
            <ul>
                <li><a href="https://angular.io" target="_blank">Angular</a></li>
                <li><a href="https://firebase.google.com" target="_blank">Firebase</a></li>
                <li><a href="https://magicui.design/" target="_blank">Magic UI</a></li>
                <li><a href="https://ui.aceternity.com/" target="_blank">Aceternity UI</a></li>
                <li><a href="https://uiverse.io/" target="_blank">Uiverse</a>
                    <!-- Add more tools below -->

            </ul>
        </div>

        <div class="footer-column">
            <h4>Company</h4>
            <ul>
                <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
            </ul>
        </div>
        <div class="footer-column subscribe">
            <h4>Contact Us</h4>
            <form>
                <input type="email" placeholder="Email address" />
                <button type="submit" onclick="">➔</button>
            </form>
            <p>
                Hello, we are BuildRush. Our goal is to translate the positive effects
                from revolutionizing how companies engage with their clients & their
                team.
            </p>
        </div>
    </div>

    <div class="footer-bottom">
        <!-- <div class="footer-logo">
            <h3>LIFT</h3>
        </div> -->
        <div class="footer-links">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
        <div class="footer-copyright">
            <p>© 2024 BuildRush.in</p>
            <!-- <p> Built using Angular and Firebase.</p> -->
        </div>

        <!--  social profiles  -->
        <div class="image-container">
            <a href="" target="_blank"><img src="assets/logo/LinkedIn.png" alt="Image 1" class="image-item" /></a>
            <a href="" target="_blank"><img src="assets/logo/Instagram.png" alt="Image 2" class="image-item" /></a>
            <a href="" target="_blank"><img src="assets/logo/Twitter.png" alt="Image 3" class="image-item" /></a>
        </div>



    </div>

</footer>