/* Top Navbar Styles */
.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Adjusted width to fit new content */
  margin: 0 auto;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 2rem;
  /* Increased gap for more spacing between options */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: gray;
}

.nav-links a.active {
  font-weight: bold;
  color: #6a4df5;
  /* Highlight active links */
}