<!--  Navbar Component  -->
<app-navbar></app-navbar>
<!-- Main Landing Page Component -->
<main class="landing">

    <div class="bg">

        <!--  Hero Section  -->
        <section class="hero">
            <h1>BuildRush.in</h1>
            <!-- <p id="tag-line">
            BuildRush is a platform for developers to showcase their projects and get feedback from the community.
        </p> -->
            <button routerLink="/signup" class="get-started">Get Started</button>
        </section>

    </div>


    <!--  Service Section  -->
    <app-info-section></app-info-section>




    <!--  Developer Section  -->
    <app-devloper></app-devloper>

    <!--  Love Message  -->
    <section class="developer">
        <b>
            <p>Built with <img id="heart-icon" src="assets/icon/WhiteHeart.png" alt="White Heart"> by professional
                developers</p>
        </b>
    </section>

    <!-- Footer  -->
    <app-footer></app-footer>
</main>