<!--  Navbar Component  -->
<app-navbar></app-navbar>
<!-- Main Landing Page Component -->
<main class="landing">

    <div class="bg">
        <!--  Hero Section  -->
        <section class="hero">
            <h1 class="gradient-text">BuildRush.in</h1>
            

            <button type="button" class="btn"  routerLink="/signup"  >
              <strong>Get Started</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
            


        </section>


        <app-info-section></app-info-section>
    </div>

    <div class="marquee">
        <div class="marquee-content">
            <span class="data">Web Development</span>
            <span class="data">Mobile Development</span>
            <span class="data">Machine Learning</span>
            <span class="data">Data Science</span>
            <span class="data">Specific Function</span>
            <span class="data">IdeaBhoot</span>

        </div>
    </div>

    <div class="marquee">
        <div class="marquee-content">
            <span class="data">Cloud Computing</span>
            <span class="data">Cybersecurity</span>
            <span class="data">Artificial Intelligence</span>
            <span class="data">Game Development</span>
            <span class="data">UI/UX</span>
        </div>
    </div>
    <!--  Developer Section  -->


    <app-devloper></app-devloper>
    <!--  Love Message  -->
    <section class="developer">
        <b>
            <p>Built with <img id="heart-icon" src="assets/icon/WhiteHeart.png" alt="White Heart"> by professional
                developers</p>
        </b>
    </section>

    <!-- Footer  -->
    <app-footer></app-footer>
</main>